:host {
  display: block;
  position: fixed;
  --overlay-modal-background: rgba(0,0,0,.5);
  --overlay-content-color: #fc0;
  --overlay-content-background: #fff;
  --overlay-content-border-color: #000;
  --overlay-content-border-radius: 0px;
  --overlay-content-padding: 10px;
  --overlay-content-shadow: 0 7px 20px -14px rgba(0,0,0,0.75);
  --overlay-header-color: #333;
  --overlay-header-background: #efefef;
  --overlay-header-border: 1px solid #ccc;
  --overlay-header-padding: 10px;
  --overlay-footer-color: #000;
  --overlay-footer-background: #ffffff;
  --overlay-footer-border: 1px solid #ccc;
  --overlay-footer-padding: 10px;
}

:host(.hasModalBackdrop)::before {
  background-color: var(--overlay-modal-background);
  position: fixed;
  z-index: 0;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  box-sizing: border-box;
  background-color: var(--overlay-content-background);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border: 1px solid var(--overlay-content-border-color);
  border-radius: var(--overlay-content-border-radius);
  box-shadow: var(--overlay-content-shadow);
}

.header {
  color: var(--overlay-header-color);
  padding: var(--overlay-header-padding);
  background: var(--overlay-header-background);
  border-bottom: var(--overlay-header-border);
}
.body {
  color: var(--overlay-content-color);
  padding: var(--overlay-content-padding);
  background: var(--overlay-content-background);
}
.footer {
  color: var(--overlay-content-color);
  padding: var(--overlay-footer-padding);
  background: var(--overlay-footer-background);
  border-top: var(--overlay-header-border);
  text-align: right;
}
.arrow, .arrow::before {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid transparent;
}
.arrow::before {
  content: '';
}
.arrow[data-edge=bottom]{
  top: -20px;
  margin-left: -10px;
  border-bottom-color: var(--overlay-content-border-color);
}
.arrow[data-edge=bottom]::before {
  bottom: -11px;
  left: -10px;
  border-bottom-color: var(--overlay-content-background);
}
.arrow[data-edge=top]{
  bottom: -20px;
  margin-left: -10px;
  border-top-color: var(--overlay-border-color);
}
.arrow[data-edge=top]::before {
  top: -11px;
  left: -10px;
  border-top-color: var(--overlay-content-background);
}

.arrow[data-edge=left]{
  right: -20px;
  margin-top: -10px;
  border-left-color: var(--overlay-border-color);
}
.arrow[data-edge=left]::before {
  right: -9px;
  top: -10px;
  border-left-color: var(--overlay-content-background);
}
.arrow[data-edge=right]{
  left: -20px;
  margin-top: -10px;
  border-right-color: var(--overlay-border-color);
}
.arrow[data-edge=right]::before {
  left: -9px;
  top: -10px;
  border-right-color: var(--overlay-content-background);
}