:host {
  display: block;
  --tooltip-background: #252525;
  --tooltip-color: #efefef;
  --tooltip-border-color: var(--tooltip-color);
  --tooltip-padding: 4px 6px;
  --tooltip-shadow: 0 3px 2px rgba(0,0,0,0.2);
  
}
int-overlay {
  --overlay-content-border-color: var(--tooltip-border-color);
  --overlay-content-background: var(--tooltip-background);
  --overlay-content-color: var(--tooltip-color);
  --overlay-content-padding: var(--tooltip-padding);
  --overlay-content-shadow: var(--tooltip-shadow);
}
